
<section id="feed-posts">
     <h4>Posts</h4>
     <%if(locals.user){%> 
     <form action="/post/create" method="post" id="new-post-form">
     <textarea name="content" cols="30" rows="3" placeholder="Please enter your post content"></textarea>
     <input type="submit" value="SUMIT">
     <% } %> 
</form>
     
     <div class="post-list-container">
          <ul>
               <%for( post of posts){%> 
                    <%-include('_post')%> 
               <%}%> 
          </ul>
     </div>
</section>

<section id="user-friends">
     <h4>Friends</h4>
     <%for(u of all_users){%>
          <p>
               <a href="/user/profile/<%=u.id%>"><%=u.name%></a>
          </p>
     <%}%> 
</section>
  