<h1>
    User <%=title%> 
</h1>

<form action="/user/create-session" method="post" >
    <input type="email" name="email" placeholder="Please Enter Your Email" required>
    <input type="password" name="password" placeholder="Please Enter the Password" required>
    <input type="button" value="Sign In">
</form>